.add-contact {
    background-color: #04a004;
}

.content {
    display: flex;
}

.container-modal {
    display: flex;
    justify-content: end;
}

.card {
    display: flex;
    flex-direction: row;
    padding: 15px 35px;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.image {
    width: 190px;
    border-radius: 90px;
}

.back {
    text-decoration: underline blue;
    color: blue;
}

.modal-footer {
    display: flex;
    flex-direction: column;
}

.save-button {
    width: 100%;
}

span {
    margin-left: 10px;
}

.list-group-flush {
    align-items: flex-start;
}

.list-group-item {
    border: none;
}

.card-body {
    display: flex;
}

.info {
    margin-left: 50px;
}

.actions {
    display: flex;
    align-self: flex-start;
    justify-content: end;
}

svg {
 color: grey;
}

.actionIcons {
    color: black;
}
.form-label {
    width: 100%;
    display: flex;
}